<h1>Notes <a href="/#/notes/new" class="btn btn-default">New Note</a></h1>
	
	<!-- {{ data }} -->

<div class="form-group">
	Search: <input type="text">
</div>

<div class="row">
	<!-- Turn this into a directive -->
	<div class="col-sm-6" ng-repeat="note in data">

		<nw-note title="note.title" link=" '/#/notes/'+ note.id" description="note.description" category="{{note.category.name}}"></nw-note>
		<!-- <h2><a href="">{{ note.title }}</a></h2>
		<p>{{note.description}}</p>
		<p><span class="label label-info">{{note.category.name}}</span></p> -->

	</div>
</div>